.page-body{
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    background-image: url(../images/background-image.png);
    background-size: cover;
}

.white-color{
    color: #fff;
}

.page-header{
    height: 58px;
    padding: 0 79px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.page-header__title{
    flex-grow: 2;
}

.title-link{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.page-header_icon{
    margin-right: 25px;
}
.page-header_icon:hover .icon-path{
    fill: #236D47;
    transition: fill 0.7s;
}

.page-header_text-link:hover,
.title-link:hover{
    color: #236D47;
    transition: color 0.7s;
}

.page-header_text::before{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding: 2px 0;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 27px;
}
/* =================================== */
.main-form{
    width: 444px;
    min-height: 584px;
    margin: 54px auto 0;
    padding: 31px 60px 38px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.form__title{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form__title::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.form__link{
   position: absolute;
   top: 37px;
   right: 60px;
   color: #3CB878;
}

.facebook-btn,
.google-btn{
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    text-align: right;
    padding-top: 11px;
    margin-top: 15px;
}

.facebook-btn{
    background-color: #305DB8;
    background-image: url(../images/icons/facebook-icon.png);
    background-repeat: no-repeat;
    background-position: 10% 45%;
}

.google-btn{
    background-color: #DF4A32;
    background-image: url(../images/icons/google-icon.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.form_media-button{
    border: none;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    mix-blend-mode: normal;
    padding: 5px 22px 5px 18px;
    background-color: #305DB8;
    font-size: 16px;
    line-height: 16px;
}

.google-btn .form_media-button{
    background-color: #DF4A32;
    padding-right: 27px;
    padding-left: 30px;
}

.form_media-button:focus{
    outline: none;
}

.facebook-btn:hover,
.facebook-btn:hover .form_media-button{
    background-color: #294F9D;
    transition: background-color 0.7s;
}

.google-btn:hover,
.google-btn:hover .form_media-button{
    background-color: #C6422C;
    transition: background-color 0.7s;
}

.form__middle-text{
    display: block;
    text-align: center;
    margin: 31px 0 11px;
    color: #848484;
    overflow: hidden;
}

.form__middle-text::before,
.form__middle-text::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	height: 1px;
    background: #F2F2F2;
    border: solid #FFF;
	border-width: 0 5px;
}

.form__middle-text::before{
    margin-left: -100%;
}

.form__middle-text::after{
    margin-right: -100%;
}

.form-input{
    width: 100%;
    padding: 15px 0 15px 20px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-label{
    color: #434343;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + .checkbox-label {
	position: relative;
	padding: 0 0 0 31px;
	cursor: pointer;
}
.checkbox + .checkbox-label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
	transition: 0.2s;
}
.checkbox:checked + .checkbox-label:before {
    content: url(../images/icons/checkbox-icon.png);
    padding: 1px;
}

.checkbox-terms-link{
    color: #3CB878;
    transition: color 0.7s;
}

.form__link:hover,
.checkbox-terms-link:hover{
    border-bottom: 1px solid #3CB878;
}

.main-submit-button{
    display: block;
    width: 100%;
    padding: 16px;
    margin: 20px auto 0;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    line-height: 16px;
}

.main-submit-button:hover{
    background-color: #3CB878;
    transition: background-color 0.7s;
}

.main-submit-button:focus{
    outline: none;
}
